<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443890614894-3in85avdqh7rqp5lf863cvbl94r58ia1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443890614894-3in85avdqh7rqp5lf863cvbl94r58ia1</string>
	<key>API_KEY</key>
	<string>AIzaSyBb2xu-O5ZQS-5DpciK2VJHTDdjJaoAtQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>443890614894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.coco</string>
	<key>PROJECT_ID</key>
	<string>coco-f561a</string>
	<key>STORAGE_BUCKET</key>
	<string>coco-f561a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443890614894:ios:55a97dbe302a8f51731c7f</string>
	<key>DATABASE_URL</key>
	<string>https://coco-f561a-default-rtdb.firebaseio.com</string>
</dict>
</plist>